<nav class="navigation welcome">
  <div class="control-box">
    <p class="logo">
      <a href="">
        <span style="font-weight: bold">NieHandlowa</span>.net
      </a>
    </p>

    <!-- <ul>
      <li>
        <a href="">Navigation1</a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href="">Navigation3</a>
      </li>
    </ul> -->
  </div>
</nav>

<section class="welcome">
  <div class="overlay"></div>

  <div class="text-box">
    <p class="first-text">
      Gdy nie chcesz siedzieć w domu w niedziele
    </p>
    <br/>
    <p class="second-text">
      Sprawdź co jest otwarte, gdy jest ona niehandlowa!
    </p>
    <br/>

    <button [routerLink]="['/list']" class="btn-welcome-more">
      PRZEJDŹ DALEJ
    </button>
  </div>
</section>


<section class="second-section">
  <div class="control-box">

    <header class="header">
      <p class="first-text">Jak to działa?</p>
      <p class="second-text">Zrób zakupy nawet w niedziele niehandlowe</p>
    </header>


    <div class="content">
      <div class="box-how">
        <div class="image">
          <img src="https://png.icons8.com/ios/50/000000/city.png">
        </div>
        <div class="header">
          Wybierz interesujące Cię sklep
        </div>
      </div>

      <div class="box-how">
        <div class="image">
          <img src="https://png.icons8.com/ios/50/000000/star-half-empty.png">
        </div>
        <div class="header">
          Sprawdź opinie na temat danego lokalu
        </div>
      </div>

      <div class="box-how">
        <div class="image">
          <img src="https://png.icons8.com/wired/50/000000/shopping-cart.png">
        </div>
        <div class="header">
          Udaj się do wybranego lokalu
        </div>
      </div>

      <div class="box-how">
        <div class="image">
          <img src="https://png.icons8.com/ios/50/000000/thumb-up.png">
        </div>
        <div class="header">
          Wystaw swoją ocene
        </div>
      </div>



    </div>
  </div>


</section>

<!--

      <section class="three-section">
            <div class="control-box">
                <header class="header">
                    <p>Wybierz interesujące Cie miasto</p>
                </header>
            </div>
      </section> -->
