<!-- <mat-form-field appearance="outline" class="search-field">
  <mat-label>Szukaj</mat-label>
  <input [(ngModel)]="this.poiName" matInput placeholder="Nazwa">

  <button (click)="searchButtonOnClick()" mat-icon-button matSuffix color="primary">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<button (click)="addPoiOnClick()" mat-button color="primary">dodaj</button>

<!-- <table mat-table [dataSource]="poiList" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nazwa </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Adres </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <ng-container matColumnDef="owner">
    <th mat-header-cell *matHeaderCellDef> Własciciel </th>
    <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Opis </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

 -->
<div class="static-logo">
  <span style="font-weight: bold">NieHandlowa</span>.NET
</div>

<nav class="navigation welcome">
  <div class="control-box">
    <button (click)="addPoiOnClick()" class="nav-button" mat-fab color="default">
      <mat-icon>add</mat-icon>
    </button>
    <button class="nav-button" mat-fab color="default">
      <mat-icon>shop</mat-icon>
    </button>
    <button class="nav-button" mat-fab color="default">
      <mat-icon>favorite</mat-icon>
    </button>

  </div>
</nav>

<main class="main-view">
  <div class="center-box">
    <div class="search-bar">
      <mat-form-field appearance="outline" class="search-field">
        <mat-label>Szukaj</mat-label>
        <input [(ngModel)]="this.poiName" matInput placeholder="Nazwa">

        <button (click)="searchButtonOnClick()" mat-icon-button matSuffix color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="content">
      <table mat-table [dataSource]="poiList" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nazwa </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>


        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Adres </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef> Własciciel </th>
          <td mat-cell *matCellDef="let element"> {{element.owner}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="openHours">
          <th mat-header-cell *matHeaderCellDef> Godziny otwarcia </th>
          <td mat-cell *matCellDef="let element"> {{element.openingHours[0].openingTime.toLocaleTimeString()}} - {{element.openingHours[0].closingTime.toLocaleTimeString()}}
          </td>
        </ng-container> -->

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Opis </th>
          <td mat-cell *matCellDef="let element"> {{element.description}} </td>
        </ng-container>

        <ng-container matColumnDef="other">
          <th mat-header-cell *matHeaderCellDef> Opcje </th>
          <td mat-cell *matCellDef="let element">
            <button mat-button>WIĘCEJ</button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</main>
