.example-card {
  max-width: 300px;
}

.example-header-image {
  /* background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-image: url('https://i.ytimg.com/vi/lHWRfCxxe4o/maxresdefault.jpg');
  background-size: cover;
}


