<div class="static-logo">
  <span style="font-weight: bold" [routerLink]="['/']">NieHandlowa</span>.NET
</div>

<nav class="navigation welcome">
  <div class="control-box">
    <button (click)="addPoiOnClick()" class="nav-button" mat-fab color="default">
      <mat-icon>add</mat-icon>
    </button>
    <button class="nav-button" mat-fab color="default">
      <mat-icon>shop</mat-icon>
    </button>
    <button class="nav-button" mat-fab color="default">
      <mat-icon>favorite</mat-icon>
    </button>

  </div>
</nav>

<main class="main-view">
  <div class="center-box">
    <div class="search-bar">
      <mat-card>
        <mat-form-field appearance="outline" class="search-field">
          <mat-label>Szukaj</mat-label>
          <input *ngIf="this._show" [(ngModel)]="this._search" matInput placeholder="Wprowadź nazwę...">
          <input *ngIf="!this._show" [(ngModel)]="this._search" matInput placeholder="Wprowadź adres lokacji...">
          <button (click)="searchButtonOnClick()" mat-icon-button matSuffix color="primary">
            <mat-icon>search</mat-icon>
          </button>
          <mat-hint (click)="advancedButtonOnClick()">Zaawansowane</mat-hint>
        </mat-form-field>
        <div *ngIf="this._show">
          <mat-form-field appearance="outline" class="search-field">
            <mat-label>Dystans</mat-label>
            <input [(ngModel)]="this._distance" matInput type="number" placeholder="Dystans">
          </mat-form-field>
          <button mat-button (click)="this.provideMyLocation()">Wprowadź moją lokalizację</button>
        </div>
      </mat-card>
    </div>


    <div class="content">
      <table mat-table [dataSource]="poiListDataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Nazwa </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Adres </th>
          <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Opis </th>
          <td mat-cell *matCellDef="let element"> {{element.desription}} </td>
        </ng-container>

        <ng-container matColumnDef="other">
          <th mat-header-cell *matHeaderCellDef> Opcje </th>
          <td mat-cell *matCellDef="let element">
            <button (click)="morePoiOnClick(element)" mat-button>WIĘCEJ</button>

          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</main>
