<mat-form-field appearance="outline" class="search-field">
  <mat-label>Szukaj</mat-label>
  <input [(ngModel)]="this.adress" matInput placeholder="Szukaj">

  <button (click)="searchButtonOnClick()" mat-icon-button matSuffix color="primary">
    <mat-icon>search</mat-icon>
  </button>
</mat-form-field>

<agm-map [latitude]="this.lat" [longitude]="this.lng">
  <agm-marker [latitude]="this.lat" [longitude]="this.lng">
    <agm-info-window [disableAutoPan]="true">
      {{this.name}}
    </agm-info-window>
  </agm-marker>
</agm-map>
