<form>
  <!-- public id: number,
    public name: string,
    public address: string,
    public owner: string,
    public longitude: number,
    public latitude: number,
    public description: string,
    public openDate: Date,
    public closeDate: Date -->
  <div style="display:inline-grid;">
    <mat-form-field class="example-full-width">
      <label for="name">Nazwa:</label>
      <input matInput type="text" name="name" id="name" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="address">Adres</label>
      <input matInput type="text" name="address" id="address" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <label for="owner">Właściciel</label>
      <input matInput type="text" name="owner" id="owner" required>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" name="description" id="description">
    </mat-form-field>





  </div>
</form>
