<h1 mat-dialog-title>
  Szczegóły
</h1>
<div mat-dialog-content>
  <mat-card-header class="matCardHeader">

    <div class="informations">
      <div class="matCardTitle">
        <mat-card-title>{{this.poi.name}}</mat-card-title>
      </div>

      <div class="matCardSubtitle">


        <br/>
      <span class="static">Godziny otwarcia: </span>
          <br>
          <ng-container *ngFor="let openingHours of this.poi.openingHours">
            <ng-container [ngSwitch]="openingHours.dayOfWeek">
              <span *ngSwitchCase="1">Pon. </span>
              <span *ngSwitchCase="2">Wt. </span>
              <span *ngSwitchCase="3">Śr. </span>
              <span *ngSwitchCase="4">Czw. </span>
              <span *ngSwitchCase="5">Pt. </span>
              <span *ngSwitchCase="6">Sob. </span>
              <span *ngSwitchCase="7">Niedz. </span>
              <span *ngSwitchCase="8">Niedz(niehandlowa). </span>
            </ng-container>
            <ng-container [ngSwitch]="openingHours.openingTime">
              <span *ngSwitchCase="undefined">Zamknięte</span>
              <span *ngSwitchDefault>{{openingHours.openingTime | date:'h:mm'}} - {{openingHours.closingTime | date:'h:mm'}}</span>
              <br>
            </ng-container>
          </ng-container>
      </div>
    </div>


  </mat-card-header>

  <mat-card-content class="matCardContent">
    <div class="description">

      <p>Opis: <br>
        {{this.poi.desription}}
      </p>
    </div>
  </mat-card-content>
</div>

<div mat-dialog-actions>

  <button mat-button (click)="closeDialog()">Wyjdź</button>
</div>
