<h1 mat-dialog-title>
  Szczegóły -> {{this.poi.name}}
</h1>
<div mat-dialog-content class="test">

  <mat-tab-group>

    <mat-tab label="Szczegóły:">

      <h3 class="tab-title">Opis</h3>
      <p>{{this.poi.desription}}</p>
    </mat-tab>
    <mat-tab label="Godziny otwarcia:">

      <h3 class="tab-title">Godziny otwarcia:</h3>
      <p class="hours_open">
        <span class="static">Godziny otwarcia: </span>
        <br>
        <ng-container class="hours_item" *ngFor="let openingHours of this.poi.openingHours">
          <ng-container [ngSwitch]="openingHours.dayOfWeek">
            <span class="label" *ngSwitchCase="1">Pon: </span>
            <span class="label" *ngSwitchCase="2">Wt: </span>
            <span class="label" *ngSwitchCase="3">Śr: </span>
            <span class="label" *ngSwitchCase="4">Czw: </span>
            <span class="label" *ngSwitchCase="5">Pt: </span>
            <span class="label" *ngSwitchCase="6">Sob: </span>
            <span class="label" *ngSwitchCase="7">Niedz: </span>
            <span class="label" *ngSwitchCase="8">Niedz(niehandlowa): </span>
          </ng-container>
          <ng-container [ngSwitch]="openingHours.openingTime">
            <span *ngSwitchCase="undefined">Zamknięte</span>
            <span *ngSwitchDefault>{{openingHours.openingTime | date:'H:mm'}} - {{openingHours.closingTime | date:'H:mm'}}</span>
            <br>
          </ng-container>
        </ng-container>
      </p>
    </mat-tab>
  </mat-tab-group>
</div>

<!-- <div mat-dialog-actions>

  <button mat-button (click)="closeDialog()">Wyjdź</button>
</div> -->
