<h1 mat-dialog-title>
  Dodaj punkt
</h1>

<div mat-dialog-content>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Wpisz adres lokalu</ng-template>
        <div class="map-container">
          <app-map-view></app-map-view>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Wypełnij informacje podstawowe</ng-template>
        <mat-form-field appearance="outline" class="input-text">
          <mat-label>Nazwa</mat-label>
          <input matInput [(ngModel)]="data.poi.name" type="text" placeholder="Nazwa" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-text">
          <mat-label>Opis</mat-label>
          <input matInput [(ngModel)]="data.poi.description" type="text" placeholder="Opis" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="input-text">
          <mat-label>Typ miejsca</mat-label>
          <mat-select placeholder="Typ miejsca">
            <mat-option *ngFor="let type of types" ngDefaultControl [value]="type.value" [(ngModel)]="data.poi.type" [ngModelOptions]="{standalone: true}">
              {{type.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Wypełnij godziny otwarcia</ng-template>
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Poniedziałek
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[0]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[0].closingTime" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Wtorek
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[1]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[1]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Środa
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[2]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput class="input-text" [(ngModel)]="this._closes[2]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Czwartek
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[3]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[3]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Piątek
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[4]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[4]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Sobota
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[5]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[5]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Niedziela
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[6]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[6]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Niedziela (niehandlowa)
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-form-field class="input-text">
              <mat-label>Od</mat-label>
              <input matInput [(ngModel)]="this._opens[7]" type="number" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <mat-form-field class="input-text">
              <mat-label>Do</mat-label>
              <input matInput [(ngModel)]="this._closes[7]" type="number" type="text" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </mat-expansion-panel>

        </mat-accordion>
      </form>
    </mat-step>
  </mat-horizontal-stepper>
</div>
<div mat-dialog-actions>
  <button (click)="addPoiOnClick()" mat-button>Dodaj</button>
  <button (click)="closeDialog()" mat-button>Wyjdź</button>
</div>
