<h1 mat-dialog-title>
  Dodaj punkt
</h1>

<div mat-dialog-content>
  <div class="map-container">
    <app-map-view></app-map-view>
  </div>

  <mat-form-field>
    <mat-label>Nazwa</mat-label>
    <input matInput [(ngModel)]="data.poi.name" type="text" placeholder="Nazwa">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Opis</mat-label>
    <textarea matInput [(ngModel)]="data.poi.description" placeholder="Opis"></textarea>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label>Typ miejsca</mat-label>
    <mat-select placeholder="Typ miejsca">
      <mat-option *ngFor="let type of this._types" [value]="type.value" [(ngModel)]="data.poi.type">
        {{type.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>Dodaj</button>
  <button mat-button>Wyjdź</button>
</div>
